body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;

}

a {
    text-decoration: none;
    color: currentColor;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc
}


.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    margin-right: 76px
}

.header-logo:hover {
    color: #404bbf
}

.header-logo:focus {
    color: #404bbf
}

.header-logo-color {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;


}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;


}



.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-menu-link {
    padding: 24px 0 24px;
}

.header-adress {
    font-style: normal;


}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 332px;
}

.header-container {
    display: flex;
    padding: 0 15px;



}

.header-adress {
    padding: 24px 0;
}

.header-navigation:hover {
    color: #404bbf;
}

.header-navigation:focus {
    color: #404bbf
}

.header-contact-list {
    display: flex;
    gap: 40px;

}

.header-contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;


}

.header-contact-link:hover {
    color: #404bbf
}

.header-contact-link:focus {
    color: #404bbf
}




.hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-container {
    background: #2e2f42;

    margin: 0 auto;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;


}

.hero-order-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
}


.hero-order-btn:hover,
.hero-order-btn:focus {
    background-color: #404BBF;
}

.advantages-section {
    padding: 120px 0;
}

.advantages-menu-item {}

.advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    max-width: 264px;
    margin: 0 auto;
    margin-bottom: 8px;
}


.advantages-menu-list {
    display: flex;
    gap: 24px;
    width: calc((100% - 72px) / 4);
}

.advantages-menu-item {
    border-radius: 0px 0px 4px 4px;

}

.advantages-menu-item {}

.advantages-menu-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 264px;
    margin: 0 auto;
}

.team {
    background-color: #F4F4FD;

}

.team-section {
    padding-bottom: 120px;
    padding-top: 120px;
}

.team-menu-list {
    display: flex;
    gap: 24px;
}

.team-menu-item {

    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.team-worker {
    padding: 32px 0
}

.team-img {
    margin-bottom: 32px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;

}



.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.portfolio-menu-item {
    width: calc((100% - 48px) /3);
}

.portfolio-menu-item {


    align-items: center;


}

.portfolio-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 32px;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.footer {
    background: #2e2f42;
    padding: 100px 0;
}



.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    height: 72px;
    max-width: 264px;

}