body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;

}

a {
    text-decoration: none;
    color: currentColor;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc
}


.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    margin-right: 76px
}

.header-logo:hover {
    color: #404bbf
}

.header-logo:focus {
    color: #404bbf
}

.header-logo-color {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;


}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-adress {
    font-style: normal;

}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 332px;

}

.header-container {
    display: flex;
    padding: 24px 0;

}

.header-navigation:hover {
    color: #404bbf;
}

.header-navigation:focus {
    color: #404bbf
}

.header-contact-list {
    display: flex;
    gap: 40px;
}

.header-contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;


}

.header-contact-link:hover {
    color: #404bbf
}

.header-contact-link:focus {
    color: #404bbf
}


.section {
    padding-bottom: 120px;
    padding-top: 120px;
}


.hero-wrap {
    background: #2e2f42;
    padding: 188px 472px 188px 472px;
    margin: 0 auto;


}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    width: 496px;


}

.hero-order-btn {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;

}

.hero-order-btn:hover,
.hero-order-btn:focus {
    background-color: #404BBF;
}



.advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    max-width: 264px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.advantages-menu-list {
    display: flex;

}

.advantages-menu-item {
    width: calc((100% - 3 * 24px) / 3);
}

.advantages-menu-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 264px;
    margin: 0 auto;
}

.team {
    background-color: #F4F4FD;

}

.team-menu-list {
    display: flex;
    gap: 24px;
}

.team-menu-item {
    background-color: #FFFFFF;

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-img {
    margin-bottom: 32px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    padding-bottom: 32px;
}



.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    padding-bottom: 72px;
}

.portfolio-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.portfolio-menu-item {
    width: calc((100% - 24px * 2) / 3);
    align-items: center;
}


.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 32px;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 32px;
}

.footer {
    background: #2e2f42;
}

.footer-wrap {
    padding-bottom: 120px;
    padding-top: 120px;
    padding-left: 156px;

}

.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    width: 264px;
    height: 72px;

}